
nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href="#") Todolist
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href="#") Home
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href="#") Link
    if user
        p= user.name
        