extends ../layouts/common.pug
//- extends ../layouts/navbar.view.pug



block content
    include ../layouts/navbar.view.pug
    h1 Create User
    if err
            each el in err
                .alert.alert-danger= el
    form(action="/users/create", class="ml-2", method="POST")
        .form-group
            label(for="inputEmail") Email address
            input#email.form-control.w-50(type="text", name="email",value=values? values.email :'' ,placeholder="Enter email")
        .form-group
            label(for="inputName") Pass word
            input#name.form-control.w-50(type="text", name="name",value=values? values.name: '' placeholder="Enter name")
        button.btn.btn-primary(type="submit",) Submit       
        
    
       
