extends ../layouts/common
block content
    include ../layouts/navbar.view.pug
    div(class="card", style="width:15rem")
        img(src="/images/5.PNG", class="card-img-top" alt="...")
        div(class="card-body")
            h5(class="card-title") #{user.name}
            p(class="card-text")  #{user.email}
            a(href="./", class="btn btn-primary") Go to Users list